#HostGame {
    font-size: 30px;
    padding: 10px;
}
#JoinGame {
    font-size: 30px;
    padding: 10px;
}

div {
    text-align: center;
    color:white;
}
body {
    background-image:  url("../Door2.png");
    background-repeat: no-repeat;
    background-size: cover;
}